<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844193498144-gc7iau6tjp46udokfngj37rfb49l87rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844193498144-gc7iau6tjp46udokfngj37rfb49l87rk</string>
	<key>API_KEY</key>
	<string>AIzaSyCPNs27q5QqM7QuSVn0QT4Bk7aeg5_yXu0</string>
	<key>GCM_SENDER_ID</key>
	<string>844193498144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nhz.KarkKick</string>
	<key>PROJECT_ID</key>
	<string>kartkick-308f3</string>
	<key>STORAGE_BUCKET</key>
	<string>kartkick-308f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844193498144:ios:eb14b37ca58a9248e02845</string>
</dict>
</plist>